<main>
    <div>
      <h2>Fill the formulary to get the 1374/A problem solved</h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
          <label for="x">X:</label>
          <input type="number" id="x" formControlName="x">
        </div>
        <div>
          <label for="y">Y:</label>
          <input type="number" id="y" formControlName="y">
        </div>
        <div>
          <label for="n">N:</label>
          <input type="number" id="n" formControlName="n">
        </div>
        <div>
          <label for="n">Request type: {{this.form.value["requestType"] ? "POST": "GET"}}</label>
          <input type="checkbox" id="requestType" formControlName="requestType">
        </div>
        <button type="submit" [disabled]="form.invalid">Submit</button>
      </form>
      <p>Data displayed</p>
      <div *ngFor="let item of data">
        {{ item }}
      </div>
    </div>
</main>
<router-outlet />
