# Ignore Gradle build output
/backend/BasedomainsMicroservice/build/
/backend/EmailMicroservice/build/
/backend/OrderMicroservice/build/
/backend/StockMicroservice/build/

# Ignore Maven build output
/backend/BasedomainsMicroservice/target/
/backend/EmailMicroservice/target/
/backend/OrderMicroservice/target/
/backend/StockMicroservice/target/

# Ignore Node.js modules
/frontend/node_modules/

# Ignore Angular build output
/frontend/dist/
/frontend/.angular/

# Ignore IntelliJ IDEA files
.idea/

# Ignore Eclipse files
.classpath
.project
.settings/

# Ignore any IDE-specific files
*.iml
*.ipr
*.iws

# Ignore system files
.DS_Store
Thumbs.db
