<form [formGroup]="form">
  <div class="container">
    <!-- RED SIDE -->
    <div class="side red">
      <!-- DELIVERY ADDRESS, EMAIL AND CUSTOMER NAME -->
      <div class="inputs-container">
        
        <div class="input-text-container">
          <label for="emailAddress">Email:</label>
          <input class="input-text" type="text" id="emailAddress" name="emailAddress" formControlName="emailAddress">
        </div>
        
        <div class="input-text-container">
          <label for="customerName">Customer Name:</label>
          <input class="input-text" type="text" id="customerName" name="customerName" formControlName="customerName">
        </div>
        
        <div class="input-text-container">
          <label for="deliveryAddress">Address:</label>
          <input class="input-text" type="text" id="deliveryAddress" name="deliveryAddress"
            formControlName="deliveryAddress">
        </div>

        <div *ngIf="form.value['pizzaName']" class="pizza-red-side-info">
          <p> {{ getPizzaDisplayInfo(form.value['pizzaName']) }}</p>
        </div>
      </div>
    </div>
    <!--WHITE SIDE -->
    <div class="center">
      <!-- PIZZZA STYLE -->
      <h2>Select pizza style</h2>
      <div class="button-group-container">
        <div *ngFor="let pizza of pizzas" class="select-option pizza-name" id="{{pizza.value}}-id"
          (click)="selectOption('pizzaName', pizza.value, 'pizza-name')">
          <img [src]="'/assets/img/'+pizza.value+'.png'" alt="{{pizza.name}}">
          <div class="option-title">{{pizza.name}}</div>
        </div>
      </div>

      <!-- PIZZZA SIZE -->
      <h2>Select pizza size</h2>
      <div class="button-sizes-group-container" style="align-items: center;">
        <div *ngFor="let size of pizzaSizes; let i = index" class="select-option pizza-size" id="{{size.value}}-id"
          style="justify-content: center;" (click)="selectOption('pizzaSize',  size.value, 'pizza-size')">
          <img src="/assets/img/pizza.png" [style.width.px]="60 + (i * 20)" [style.height.px]="60 + (i * 20)"
            alt="Option 1">
          <div class="option-title">{{size.name}}</div>
        </div>
      </div>

      <!-- PIZZZA EXTRA INGREDIENTS -->
      <h2>Select pizza extra ingredients <small>max one unit of each ingredient</small></h2>
      <div class="button-group-container">
        <div *ngFor="let ingredient of pizzaIngredients; let i = index" id="{{ingredient.value}}-id" [ngClass]="ingredient.quantity >= getNeededQuantity(ingredient.value) ? 'select-option pizza-extra' : 'select-option pizza-extra select-option-disabled'"
          style="justify-content: center;" (click)="selectIngredient(ingredient.value)">
          <img [src]="'/assets/img/ingredients/'+ingredient.value+'.png'" alt="{{ingredient.name}}">
          <div class="option-title">{{ingredient.name}}</div>
        </div>
      </div>
    </div>
    <!-- GREEN SIDE -->
    <div class="side green">
      <div class="summary-container">
        <h2>Order Summary</h2>
        <div class="summary-list">
          <div *ngIf="form.value['pizzaName']">
            <p><strong>Pizza Style:</strong> {{ getPizzaNameInfo(form.value['pizzaName']) }}</p>
          </div>
          <div *ngIf="form.value['pizzaSize']">
            <p><strong>Pizza Size:</strong> {{ getPizzaSizeInfo(form.value['pizzaSize']) }}</p>
          </div>
          <div *ngIf="form.value['extraIngredients']?.length > 0">
            <p><strong>Extra Ingredients:</strong></p>
            <ul>
              <li *ngFor="let ingredient of form.value['extraIngredients'] || []">{{ getIngredientName(ingredient) }}
              </li>
            </ul>
          </div>
          <p *ngIf="form.value['price'] > 0"><strong>Total Price:</strong> {{ form.value['price'] || 0 | currency :
            'EUR' }}</p>
        </div>

        <!-- SUBMIT -->
        <button (click)="submitForm()" type="submit" class="submit" [disabled]="form.invalid">Submit</button> 

      </div>
    </div>
  </div>
</form>