<div class="container">
  <div class="side red">
  </div>
  <div class="center">
    <h2>Orders:</h2>
    <div *ngFor="let order of orders" ngIf="order.status === 'PLACED'">
      <p>{{ order?.pizzaName }}</p>
      <label>Status:
        <span [ngClass]="order?.status === 'PLACED' ? 'order-pendent' : 'order-delivered'">{{ order?.status }}</span>
      </label>
      <label>Price:
        <span>{{ order?.price }}</span>
      </label>
      <label>Customer Name:
        <span>{{ order?.customerName }}</span>
      </label>
      <label>Address:
        <span>{{ order?.deliveryAddress }}</span>
      </label>
      <button (click)="updateOrderStatus(order?.id)">Chekcout to delivery</button>
    </div>
  </div>
  <div class="side green">
  </div>
</div>