<div class="container">
  <div class="side red">
  </div>
  <div class="center">
    <h2>Orders:</h2>
    <div *ngFor="let order of orders">
      <div *ngIf="order.status === 'PLACED'" class="order-pendent-container">
        <div class="order-pendent-title">
          <p>{{ order?.pizzaName }}</p>
        </div>
        <div class="order-pendent-details"> 
          <div class="order-pendent-details-left">
            <div>
              <label>Status:</label>
            </div>
            <div>
              <span [ngClass]="order?.status === 'PLACED' ? 'order-pendent' : 'order-delivered'">{{ order?.status }}</span>
            </div>
          </div>
          <div class="order-pendent-details-right">
            <label>Customer Name:
              <span>{{ order?.customerName }}</span>
            </label>
            <label>Address:
              <span>{{ order?.deliveryAddress }}</span>
            </label>
            <label>Price:
              <span>{{ order?.price }}</span>
            </label>
          </div>
        </div>
        <button (click)="updateOrderStatus(order?.id)" class="order-pendent-details-button">Chekcout to delivery</button>
      </div>
      </div>
  </div>
  <div class="side green">
  </div>
</div>