:host {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    /* Adjust as necessary */
    overflow: auto;
    /* Allows scrolling if the content is larger than the viewport */
}

h2 {
    text-align: center;
}

.inputs-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container {
    display: flex;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

.side {
    flex-grow: 1;
    flex-basis: 10em;
}

.center {
    flex-basis: 30em;
    padding: 1em;
    text-align: center;
}

.red {
    background: red;
}

.green {
    background: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.order-pendent {
    color: yellow;
}

.order-delivered {
    color: green;
}