<div class="container">
    <div class="side red">
    </div>
    <div class="center">
      <h2>Orders:</h2>
      <div *ngFor="let order of orders" ngIf="order.status === 'DELIVERED'">
        <p>{{ order?.pizzaName }}</p>
        <label>Status:
          <span [ngClass]="order?.status === 'DELIVERED' ? 'order-delivered' : 'order-done'">{{ order?.status }}</span>
        </label>
        <label>Price:
          <span>{{ order?.price }}</span>
        </label>
        <label>Customer Name:
          <span>{{ order?.customerName }}</span>
        </label>
        <label>Address:
          <span>{{ order?.deliveryAddress }}</span>
        </label>
        <button (click)="updateOrderStatus(order?.id)">Mark as done</button>
      </div>
    </div>
    <div class="side green">
    </div>
  </div>